@using System.Globalization
@using SisComWeb.Aplication.Helpers
@{
    var usuario = DataSession.UsuarioLogueado;
}

@Html.Partial("_Mensajeria")
@Html.Partial("_Liquidacion")

<style>
    #appVueNavarHeader .nav .open > a {
        background: #ffffff !important;
        border-bottom-color: #ffffff;
        color: #337ab7;
    }

    #appVueNavarHeader .navbar-top-links > li > a {
        font-weight: 400;
        padding-left: 15px;
        padding-right: 15px;
        border-bottom: 4px solid #1d4672;
    }

    #appVueNavarHeader ul.nav.navbar-top-links.navbar-left {
        font-size: 14px;
    }

        #appVueNavarHeader ul.nav.navbar-top-links.navbar-left > li {
            border-right: 1px solid #0e2843;
        }

    #appVueNavarHeader .dropdown-menu > li > a > span {
        float: right;
    }

    #appVueNavarHeader .borderBottom.colorBlue a, .borderBottom:hover a {
        color: #009cff;
        border-bottom-color: #009cff !important;
    }

    .container-fluid {
        margin-top: 25px;
    }

    .dropdown-submenu {
        position: relative;
    }

        .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -1px;
        }
</style>

<div id="appVueHeader">
    <nav class="navbar navbar-default m-b-0" :class="{'navbar-static-top': fixedHeader}">
        <div class="navbar-header" id="appVueNavarHeader">
            <div class="top-left-part">
                <a class="logo" href="javascript:void(0);" @@click="fixedHeader = !fixedHeader">
                    <b class="hidden-xs">
                        <img height="40" src="~/wwwroot/plugins/images/users/flores.png" style="padding-left: 40%;" />
                    </b>
                </a>
                <button class="hidden" id="btnHiddenBloquearAsiento"></button>
                <button class="hidden" id="btnHiddenLiberarAsiento"></button>
                <button class="hidden" id="btnHiddenLiberarArregloAsientos"></button>
                <button class="hidden" id="btnHiddenActualizarTurnoPlano"></button>
            </div>
            <ul class="nav navbar-top-links navbar-left">
                <li class="drop">
                    <a href="javascript:void(0);"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        <i id="herramientas" class="ti-close ti-menu-alt fa-fw"></i>
                        Herramientas
                    </a>
                    <ul class="dropdown-menu">
                        <li v-for="item in menuItems" :class="{'dropdown-submenu': item.children}">
                            <a class="test" tabindex="-1" href="javascript:void(0);">{{item.name}}<span class="caret" v-if="item.children"></span></a>
                            <ul class="dropdown-menu" v-if="item.children">
                                <li v-for="child in item.children"><a tabindex="-1" href="javascript:void(0);" @@click.prevent="setSelectedItem(child.id)">{{child.name}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="borderBottom">
                    <a href="@Url.Action("Index","Itinerarios")" class="open-close waves-effect waves-light hidden-xs">
                        Ventas
                    </a>
                </li>
                <li class="borderBottom">
                    <a href="javascript:void(0)" class="open-close waves-effect waves-light hidden-xs">
                        Clientes
                    </a>
                </li>
                <li class="borderBottom">
                    <a href="javascript:void(0)" class="open-close waves-effect waves-light hidden-xs">
                        Correlativos
                    </a>
                </li>
                <li class="borderBottom">
                    <a href="javascript:void(0)" class="open-close waves-effect waves-light hidden-xs">
                        Rutas/Precios
                    </a>
                </li>
                <li class="borderBottom">
                    <a @@click="showLiquidacion"
                       href="javascript:void(0)"
                       class="open-close waves-effect waves-light hidden-xs">
                        Liquidaciones
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-top-links navbar-right pull-right">
                <li style="margin-right: 30px; ">
                    <a style="min-height: 30px; height: 30px; line-height: 40px; ">
                        <i class="fa fa-user fa-fw"></i>
                        @usuario.Nombre
                    </a>
                    <a href="@Url.Action("Logout", "Autenticacion")" style="min-height: 30px; height: 30px; line-height: 25px; ">
                        <i class="fa fa-sign-out"></i>
                        Cerrar sesión
                    </a>
                </li>
            </ul>
            <div class="top-left-part" style="width: 100% !important; height: 20px; background-color: #0e2843; font-size: 11px; ">
                <p style="color: white; margin-right: 30px; display: inline; float: right; line-height: 22px; ">
                    TERMINAL @usuario.Terminal.ToString("D3") / EMPRESA @usuario.CodiEmpresa.ToString("D2") / @usuario.NomSucursal.ToString().ToUpper() / @usuario.NomPuntoVenta.ToString().ToUpper() &ensp; @DateTime.Now.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)
                </p>
            </div>
        </div>
    </nav>
</div>
