<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="hsalazar">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="~/favicon.ico">
    <title>Login</title>
    <link href="~/wwwroot/statics/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/wwwroot/plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet" />
    @*<link href="~/wwwroot/statics/css/animate.css" rel="stylesheet">*@
    <link href="~/wwwroot/statics/css/style.css" rel="stylesheet">
    @*<link href="~/wwwroot/statics/css/colors/blue-dark.css" rel="stylesheet">*@
    <link href="~/wwwroot/statics/css/custom-style.css" rel="stylesheet">
    @*<link href="~/wwwroot/plugins/bower_components/bootrstrap-datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
        <link href="~/wwwroot/plugins/bower_components/sweetalert/sweetalert.css" rel="stylesheet">*@
    @RenderSection("styles", required: false)
    <script type="text/javascript">
            var main_globals = {};
            main_globals.virtualPath = "@HttpContext.Current.Request.ApplicationPath";
            main_globals.Path = "@HttpContext.Current.Request.Path";
            main_globals.AbsolutePath = "@HttpContext.Current.Request.Url.AbsolutePath";
            main_globals.Query = "@HttpContext.Current.Request.Url.Query";
            main_globals.PathAndQuery = "@HttpContext.Current.Request.Url.PathAndQuery";
            main_globals.flagDevelop = JSON.parse("true".toLowerCase());
    </script>
    @*background: url("@Url.Content("~/wwwroot/plugins/images/users/FONDO.jpg")") no-repeat;*@
    <style>
        html {
            background: url("/wwwroot/plugins/images/users/FONDO.jpg") no-repeat center center fixed;
            background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            -webkit-background-size: cover;
        }

        body {
            background: unset;
        }

        .form-container {
            background: #fff;
            border-radius: 10px;
            padding: 20px;
        }

        .container-fluid {
            align-items: center;
            display: flex;
            height: calc(100vh - 140px);
            margin-left: calc(50% - 150px);
            padding: 0px;
        }
    </style>
</head>

<body>
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>

    <nav class="navbar navbar-default navbar-static-top m-b-0">
        <div class="navbar-header" id="appVueNavarHeader" style="background: #fff; text-align: center; height: 60px; ">
            <img height="50px" src="~/wwwroot/plugins/images/logo-jelafazul.png" style="margin: 5px 0px; " />
        </div>
    </nav>

    <div class="container-fluid py-5">
        @RenderBody()
    </div>

    @Html.Partial("_LayoutFooter")

    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>

</html>
