@using SisComWeb.Aplication.Helpers
@{
    var usuario = DataSession.UsuarioLogueado;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon.ico">
    <title>SisComWeb - @ViewBag.Title</title>
    <link href="~/wwwroot/statics/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/wwwroot/plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet" />
    <link href="~/wwwroot/statics/css/animate.css" rel="stylesheet">
    <link href="~/wwwroot/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet" />
    <link href="~/wwwroot/statics/css/style.css" rel="stylesheet">
    <link href="~/wwwroot/statics/css/colors/blue-dark.css" rel="stylesheet">
    <link href="~/wwwroot/statics/css/custom-style.css" rel="stylesheet">
    <link href="~/wwwroot/plugins/bower_components/bootrstrap-datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="~/wwwroot/plugins/bower_components/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="~/wwwroot/plugins/bower_components/jquery-ui/jquery-ui.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <script type="text/javascript">
        var main_globals = {};
        main_globals.virtualPath = "@HttpContext.Current.Request.ApplicationPath";
        main_globals.Path = "@HttpContext.Current.Request.Path";
        main_globals.AbsolutePath = "@HttpContext.Current.Request.Url.AbsolutePath";
        main_globals.Query = "@HttpContext.Current.Request.Url.Query";
        main_globals.PathAndQuery = "@HttpContext.Current.Request.Url.PathAndQuery";
        main_globals.flagDevelop = JSON.parse("true".toLowerCase());
    </script>
</head>
<body class="fix-header">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <div id="wrapper">
        @Html.Partial("_LayoutHeader")
        @Html.Partial("_LayoutSidebar")
        <div id="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
            @Html.Partial("_LayoutFooter")
        </div>
    </div>
    @Scripts.Render("~/bundles/js")
    <script src="~/wwwroot/plugins/bower_components/signalR/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>

        var Usuario = '@usuario';
        var ValSetInt_MensajeriaInstantanea = 0;

        var ClientSignalR = {};
        ClientSignalR.NroViaje = '';
        ClientSignalR.FechaProgramacion = '';
        ClientSignalR.NroAsiento = '';
        ClientSignalR.ArregloNroAsientos = [];
        ClientSignalR.VentaResponse = {};
        ClientSignalR.Owner = false;


        // SignalR
        $(function () {

            var notification = $.connection.notificationHub;

            notification.client.bloquearAsiento = function (nroViaje, fechaProgramacion, nroAsiento) {
                if (String(appVueVenta.filtro.NroViaje) === nroViaje && appVueVenta.objTurno.FechaProgramacion === fechaProgramacion && !ClientSignalR.Owner) {
                    appVueVenta.signalR_BloquearAsiento(nroAsiento);
                }
                ClientSignalR.Owner = false;
            };

            notification.client.liberarAsiento = function (nroViaje, fechaProgramacion, nroAsiento) {
                if (String(appVueVenta.filtro.NroViaje) === nroViaje && appVueVenta.objTurno.FechaProgramacion === fechaProgramacion && !ClientSignalR.Owner) {
                    appVueVenta.signalR_LiberarAsiento(nroAsiento);
                }
                ClientSignalR.Owner = false;
            };

            notification.client.liberarArregloAsientos = function (nroViaje, fechaProgramacion, arregloNroAsientos) {
                if (String(appVueVenta.filtro.NroViaje) === nroViaje && appVueVenta.objTurno.FechaProgramacion === fechaProgramacion && !ClientSignalR.Owner) {
                    appVueVenta.signalR_LiberarArregloAsientos(arregloNroAsientos);
                }
                ClientSignalR.Owner = false;
            };

            notification.client.actualizarTurnoPlano = function (nroViaje, fechaProgramacion, ventaResponse) {
                if (String(appVueVenta.filtro.NroViaje) === nroViaje && appVueVenta.objTurno.FechaProgramacion === fechaProgramacion && !ClientSignalR.Owner) {
                    if (ventaResponse) {
                        if (!appVueVenta.filtro.CodiProgramacion && !isNaN(ventaResponse.CodiProgramacion))
                            appVueVenta.filtro.CodiProgramacion = parseInt(ventaResponse.CodiProgramacion);

                        appVueVenta.signalR_ActualizarTurnoPlano(ventaResponse.ListaVentasRealizadas);
                    }
                }
                ClientSignalR.Owner = false;
            };

            $.connection.hub.start().done(function () {
                $('#btnHiddenBloquearAsiento').click(function () {
                    notification.server.bloquearAsiento(ClientSignalR.NroViaje, ClientSignalR.FechaProgramacion, ClientSignalR.NroAsiento);
                });

                $('#btnHiddenLiberarAsiento').click(function () {
                    notification.server.liberarAsiento(ClientSignalR.NroViaje, ClientSignalR.FechaProgramacion, ClientSignalR.NroAsiento);
                });

                $('#btnHiddenLiberarArregloAsientos').click(function () {
                    notification.server.liberarArregloAsientos(ClientSignalR.NroViaje, ClientSignalR.FechaProgramacion, ClientSignalR.ArregloNroAsientos);
                });

                $('#btnHiddenActualizarTurnoPlano').click(function () {
                    notification.server.actualizarTurnoPlano(ClientSignalR.NroViaje, ClientSignalR.FechaProgramacion, ClientSignalR.VentaResponse);
                });
            });

            $.connection.hub.logging = true;

        });


        // Vue JS
        var appVueHeader = new Vue({
            el: "#appVueHeader",
            data: {
                mensaje: ''
            },
            mounted: function () {
                var _this = this;

                // class 'ColorBlue'
                _this.setClassColorBlueToBorderBottom();

                //setInterval 'MensajeriaInstantanea'
                ValSetInt_MensajeriaInstantanea = setInterval(function () {
                    _this.startMensajeriaInstantanea();
                }, 5000);
            },
            methods: {
                startMensajeriaInstantanea: async function () {
                    var _this = this;

                    // clearInterval 'MensajeriaInstantanea'
                    clearInterval(ValSetInt_MensajeriaInstantanea);

                    var input = {};
                    input.CodiUsuario = Usuario.CodiUsuario;
                    input.Fecha = moment().format('DD/MM/YYYY');
                    input.Tipo = '1';
                    input.CodiSucursal = Usuario.CodiSucursal;
                    input.CodiPventa = Usuario.CodiPuntoVenta;

                    // Obtener 'Mensaje'
                    await APP.rq.axios2.post(APP.base + '/base/obtenerMensaje', input)
                        .then(async function (res) {
                            if (res.data.EsCorrecto) {
                                appVueMensajeria.show(res.data.Valor.Mensaje);
                                
                                await deferredModal($('#appVueMensajeria'), false).done(function () {
                                    // Continue
                                });

                                // Eliminar 'Mensaje'
                                await APP.rq.axios2.post(APP.base + '/base/eliminarMensaje', res.data.Valor);
                            }
                        })

                    // setInterval 'MensajeriaInstantanea'
                    ValSetInt_MensajeriaInstantanea = setInterval(function () {
                        _this.startMensajeriaInstantanea();
                    }, 5000);
                },
                setClassColorBlueToBorderBottom: function () {
                    var elements = document.getElementsByClassName("borderBottom");
                    if (elements) {
                        for (var i = 0; i < elements.length; i++) {
                            elements[i].addEventListener("click", function () {
                                var current = document.getElementsByClassName("colorBlue");
                                current[0].className = current[0].className.replace(" colorBlue", "");
                                this.className += " colorBlue";
                            });
                        }
                    }
                }
            }
        });

        var appVueMensajeria = new Vue({
            el: "#appVueMensajeria",
            data: {
                mensaje: ''
            },
            methods: {
                show: function (_Mensaje) {
                    this.mensaje = _Mensaje;
                    $('#appVueMensajeria').modal('show');
                },
                close: function () {
                    $('#appVueMensajeria').modal('hide');
                }
            }
        });

    </script>
    <!-- CDNJS -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-focus/2.1.0/vue-focus.js"></script> -->
    <!-- example: http://jsfiddle.net/8y70Lmz3/2/ -->
    <!-- CDNJS -->
    <script src="~/wwwroot/plugins/bower_components/jquery-ui/jquery-ui.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
