<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="hsalazar">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="~/favicon.ico">
    <title>Login</title>
    <link href="~/wwwroot/statics/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/wwwroot/plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet" />
    <link href="~/wwwroot/statics/css/style.css" rel="stylesheet">
    <link href="~/wwwroot/statics/css/custom-style.css" rel="stylesheet">
    @RenderSection("styles", required: false)

    <script type="text/javascript">
            var main_globals = {};
            main_globals.virtualPath = "@HttpContext.Current.Request.ApplicationPath";
            main_globals.Path = "@HttpContext.Current.Request.Path";
            main_globals.AbsolutePath = "@HttpContext.Current.Request.Url.AbsolutePath";
            main_globals.Query = "@HttpContext.Current.Request.Url.Query";
            main_globals.PathAndQuery = "@HttpContext.Current.Request.Url.PathAndQuery";
            main_globals.flagDevelop = JSON.parse("true".toLowerCase());
    </script>

    <style>
        html {
            background: url("/wwwroot/plugins/images/users/FONDO_OPACO.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .form-container {
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px, 0px, 10px, 0px, #000;
        }

        .container-fluid {
            min-height: 600px;
        }

        body {
            background: unset;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top m-b-0">
        <div class="navbar-header" id="appVueNavarHeader" style="background: #fff; text-align: center; height: 80px; ">
            <img src="~/wwwroot/plugins/images/LOGO-FLORES.png" style="margin: 20px 0px; " />
        </div>
    </nav>

    <div class="container-fluid py-5">
        @RenderBody()
    </div>

    @Html.Partial("_LayoutFooter")

    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>

</html>
